<p>collections works!</p>
<button mat-raised-button color='primary' (click)='openCollectionFactory()'>Open Factory</button>

<!--
  NOTES:
    - This page will list all the collections a user has.
    - If there are no components, present with a "Create your first collection button".
    - Collections are to be stored as JSON in /data volume so the data is remembers even on container failure.

    - When a manga name is edited the collection will also need to be edited.
      This can be done by having a checker in the editManga or library component and have it loop over every collection and
      check if the old title is in any collection and change it to the new title if it is.
-->
