<div class='header'>
  <h1> Your Collections: </h1>
</div>

<div *ngIf='collections'>

  <div *ngIf='collections.length != 0'>
    <div *ngFor="let collection of collections">
      <Collection-Info [collection]='collection'></Collection-Info>
      <button mat-raised-button color='warn' (click)='deleteCol(collection.id)'> Delete Collection </button>
    </div>

    <br>
    <button mat-raised-button color='primary' (click)='openCollectionFactory()'>Create new collection</button>
  </div>


  <!--If no collections exist, then prompt user to create one.-->
  <div *ngIf='collections.length == 0'>
    <button mat-raised-button color='primary' (click)='openCollectionFactory()'>Create your first collection!</button>
  </div>

</div>

<!--
  NOTES:
    - This page will list all the collections a user has.
    - If there are no components, present with a "Create your first collection button".
    - Collections are to be stored as JSON in /data volume so the data is remembers even on container failure.

    - When a manga name is edited the collection will also need to be edited.
      This can be done by having a checker in the editManga or library component and have it loop over every collection and
      check if the old title is in any collection and change it to the new title if it is.
-->
