<h1>Upload</h1>
<br>

<form [formGroup]='uploadForm' (ngSubmit)='submit()'>
  <input type='file' formControlName='file' (change)="fileChange($event)" accept='.zip'/> <!--Will add RAR Support-->
  <br>
  <button mat-raised-button type='submit' color='primary' *ngIf='file != null'>Upload ({{Math.floor(file.size/1000/1000)}}MB)</button>
</form>
<br>
<div *ngIf='progress != 0'>

    <h3> Upload Progress: {{progress}}%</h3>
    <mat-progress-bar mode="determinate" value="{{this.progress}}" color='warn' *ngIf='progress != 100'></mat-progress-bar>
    <mat-progress-bar mode='indeterminate' color='warn' *ngIf='progress == 100'></mat-progress-bar>
    <h4 *ngIf='message'> {{message}} </h4>

</div>
