<mat-toolbar color='primary' class='toolBar'>
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Yomi
</mat-toolbar>

<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #snav mode="'over'" [fixedInViewport]="true">
    <mat-nav-list>
      <mat-list-item routerLink="/library" (click)="snav.close()">
        <mat-icon matListIcon>book</mat-icon>
        Library
      </mat-list-item>
      <mat-list-item routerLink="/collections" (click)="snav.close()">
        <mat-icon matListIcon>folder</mat-icon>
        Collections
      </mat-list-item>
      <mat-list-item (click)="snav.close()">
        <mat-icon matListIcon>settings</mat-icon>
        Settings
      </mat-list-item>
      <mat-list-item (click)="snav.close()" (click)="refreshdb()">
        <mat-icon matListIcon>refresh</mat-icon>
        Refresh DB
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>info</mat-icon>
        indev (110)
      </mat-list-item>
      <mat-list-item (click)="snav.close()">
        <mat-icon matListIcon>cancel</mat-icon>
        Close
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
