<h1> New Collection </h1>

<!-- TODO:
Create a list with check boxes to select all the mangas for the new collection and add them to an array of MangaData on form submit
Also create a form field for manga name.

Once form is submitted, send to database service where it will be handled.

Wait until new collection creation result is received. (Lock user in window until response is received.)

-->


<form [formGroup]="collectionForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill" required>
    <mat-label>Collection Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <br>

  <!--Need to figure out how to use formArrays to create dynamic fields that represent each manga in the db-->

  <br>
  <button mat-raised-button color='primary'>Submit</button>
</form>
