<h1> New Collection </h1>

<!-- TODO:
Create a list with check boxes to select all the mangas for the new collection and add them to an array of MangaData on form submit
Also create a form field for manga name.

Once form is submitted, send to database service where it will be handled.

Wait until new collection creation result is received. (Lock user in window until response is received.)

-->


<form [formGroup]="collectionForm" (ngSubmit)="submit()" *ngIf='mangaList'>
  <!-- Collection Name-->
  <mat-form-field appearance="fill" required>
    <mat-label>Collection Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <br>
  <!-- Dynamic selection checklist
    Implemented From:
    https://stackoverflow.com/questions/66965294/checkbox-selections-from-an-array
    https://stackblitz.com/edit/angular-forms-formarray-example-yomi?file=src%2Fapp%2Fapp.component.html
  -->
  <div *ngFor="let manga of getFormControls(); let i = index" [formGroup]="manga">
    <div>
      <mat-checkbox formControlName="selected">
        {{manga.get('title').value}}
      </mat-checkbox>
    </div>
  </div>
  <br>
  <button mat-raised-button color='primary'>Submit</button>
</form>

{{collectionForm.value | json}}
